:root {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.43;
  font-weight: 500;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary: #9966ff;
  --accent: #bb99ff;
  --background: rgba(0, 0, 0, 0.1);
  --default: #1e2231;
  --text: rgba(0, 0, 0, 1);
  --text-secondary: rgba(255, 255, 255, 0.7);
  --text-accent: var(--accent);

  color: var(--text);
}

#app {
  max-width: 400px;
  text-align: center;
}

ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ol {
  list-style: disc;
  margin-block-start: 0;
  margin-block-end: 0;
}

 li {
  float: left;
 }

 li a {
  display: block;
  color: var(--text);
  text-align: center;
  padding: 10px;
  text-decoration: none;
}

li a:hover {
  background-color: var(--background);
}

a.is-active {
  color: var(--text-accent);
}

.content {
  width: 100%;
  height: 100%;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

.container {
  display: grid;
  width: 100%;
}

input, textarea {
  border: none;
  border-radius: 5px;
  color: var(--text);
  background-color: var(--background);
}

input:disabled, textarea:disabled {
  opacity: 0.7;
}

input[type='number'], input[type='text'] {
  font-size: large;
}

input[type='number']::-webkit-inner-spin-button, 
input[type='number']::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    margin: 0;
}

input:hover, textarea:hover, select:hover, option:hover {
  /*transform: scale(1.01);*/
}

select {
  border: none;
  border-radius: 5px;
  color: var(--text);
  background-color: var(--background);
}

option {
  background: var(--background);
  background-color: var(--secondary);
  opacity: 0.6;
  padding: 5px;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: table;
}

/* Tooltip text */
.tooltip .tooltiptext {
    color: var(--text);
    visibility: hidden;
    width: 100%;
    background-color: var(--background);
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    
    /* Position the tooltip text - see examples below! */
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext {
    left: 0%;
    bottom: 0px;
    position: fixed;
}

input.icon-button {
  background-color: transparent; /* make the button transparent */
  background-repeat: no-repeat;  /* make the background image appear only once */
  background-position: 0px 0px;  /* equivalent to 'top left' */
  border: none;           /* assuming we don't want any borders */
  cursor: pointer;        /* make the cursor like hovering over an <a> element */
  height: 25px;           /* make this the size of your image */
  width: 25px;
}

input.show-button {
  filter: invert(80%) sepia(29%) saturate(6341%) hue-rotate(207deg) brightness(100%) contrast(102%);
  background-image: url(/shown.svg);
}

input.hide-button {
  filter: invert(80%) sepia(29%) saturate(6341%) hue-rotate(207deg) brightness(100%) contrast(102%);
  background-image: url(/hidden.svg);
}

input.add-button {
  filter: invert(80%) sepia(29%) saturate(6341%) hue-rotate(207deg) brightness(100%) contrast(102%);
  background-image: url(/add.svg);
}

input.external-link-button {
  filter: invert(80%) sepia(29%) saturate(6341%) hue-rotate(207deg) brightness(100%) contrast(102%);
  background-image: url(/external-link.svg);
  margin-top: 5px;
}

input.settings-button {
  filter: invert(80%) sepia(29%) saturate(6341%) hue-rotate(207deg) brightness(100%) contrast(102%);
  background-image: url(/settings.svg);
}

input.remove-button {
  filter: invert(13%) sepia(89%) saturate(7390%) hue-rotate(0deg) brightness(99%) contrast(111%);
  background-image: url(/remove.svg);
  margin: auto;
}

input.duplicate-button {
  filter: invert(80%) sepia(29%) saturate(6341%) hue-rotate(207deg) brightness(100%) contrast(102%);
  background-image: url(/duplicate.svg);
}

/* Text Size */
p {
  font-size: 0.875rem;
  cursor: default;
  color: var(--text-secondary);
}

.collapsible {
  display: inline-flex;
  background-color: var(--background);
  cursor: pointer;
  padding: 0.25rem;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
}

/** Scrollbar **/
* {
  scrollbar-width: thin;
  scrollbar-color: var(--background) var(--background);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: var(--background);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--background);
  border-radius: 20px;
  border: 3px solid var(--background);
}

hr {
  border-width: 0px 0px thin;
  border-style: solid;
  opacity: 0.1;
  border-color: var(--text);
}

.more {
  display: inline-block;
  position: relative;
  width: 25px;
  height: 25px;
  margin: auto;
}

.more-options {
  display: none;
  position: absolute;
  overflow: auto;
  right: -20%;
  top: 95%;
  background-color: var(--default);
  z-index: 1;

  .option-container {
      display: flex;
      justify-content: center;
      padding: 0.5rem;
  }
}

.more:hover {
  .more-options {
      display: block;
  }
}

.add-button-container {
  margin: auto;
}

.dropdown {

  background-color: var(--background);

  option {
      background-color: var(--default);
  }
}

.dot {
  filter: invert(80%) sepia(29%) saturate(6341%) hue-rotate(207deg) brightness(100%) contrast(102%);
}

input[type="checkbox"] {
  appearance: none;
  width: 24px;
  height: 24px;
  border: 1px solid #00000000;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  margin: 0px 0px 2px;
  vertical-align: middle;
}

input[type="checkbox"]:checked::after {
  content: "";
  width: 12px;
  height: 12px;
  background-color: var(--accent);
  border-radius: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}